# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.env text
*.j2 text
*.md text
*.rs text
*.sh text
*.sql text
*.toml text
*.txt text
*.xml text
*.yml text
Cargo.lock text

# Declare files that will always have CRLF line endings on checkout.
gbx/src/xml/validation_replay_base64 eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.Gbx binary
