{% block vars %}

    {% set col_bg = "232323" %}

    {% set col_white = "efeff1" %}

    {% set col_success = "0091ff" %}
    {% set col_fail = "ff3f3a" %}
    {% set col_neutral = "232323" %}

    {% set font_big = "TextButtonMedium" %}
    {% set font_small = "TextButtonSmall" %}

{% endblock vars %}

<manialink version="3" id="{{ widget_id }}">
    {% block manialink %}{% endblock manialink %}
</manialink>
