{% extends "base_dynamic.j2" %}

{% block vars %}
    {{ super() }}

    {% set w_menu = 290 %}
    {% set h_menu = 150 %}

    {% set x_menu = -160 + (320 - w_menu) / 2 %}
    {% set y_menu =   90 - (180 - h_menu) / 2 %}

    {% set x_menu_tl = x_menu %}
    {% set y_menu_tl = y_menu %}

    {% set x_menu_tr = x_menu + w_menu / 2 %}
    {% set y_menu_tr = y_menu %}

    {% set x_menu_br = x_menu + w_menu / 2 %}
    {% set y_menu_br = y_menu - h_menu / 2 %}

    {% set x_menu_bl = x_menu %}
    {% set y_menu_bl = y_menu - h_menu / 2 %}

{% endblock vars %}
