{% extends "base_static.j2" %}

{% block manialink %}
<script><!--
#RequireContext CSmMlScriptIngame

{% block decl %}
#Include "ColorLib" as ColorLib
#Include "MathLib" as MathLib
#Include "TextLib" as TextLib
{% endblock decl %}

main() {
    {% block main %}{% endblock main %}
    while(True) {
        yield;
        {% block loop %}{% endblock loop %}
        foreach (Event in PendingEvents) {
            {% block ml_events %}{% endblock ml_events %}
        }
        foreach (Event in Input.PendingEvents) {
            {% block input_events %}{% endblock input_events %}
        }
    }
}
--></script>
{% endblock manialink %}
