{% extends "base_static.j2" %}

{% block manialink %}
<script><!--
{# TODO #RequireContext CTmMlScriptIngame #}

{% block decl %}
#Include "ColorLib" as ColorLib
#Include "MathLib" as MathLib
#Include "TextLib" as TextLib
{% endblock decl %}

main() {
    {% block main %}{% endblock main %}
    while(True) {
        yield;
        {% block loop %}{% endblock loop %}
        {# TODO script RaceEvents? #}
        //foreach (Event in RaceEvents) {
        //    {% block race_events %}{% endblock race_events %}
        //}
        foreach (Event in PendingEvents) {
            {% block ml_events %}{% endblock ml_events %}
        }
        foreach (Event in Input.PendingEvents) {
            {% block input_events %}{% endblock input_events %}
        }
    }
}
--></script>
{% endblock manialink %}
