{% block vars %}
    {% set col_success = "107dff" %}
    {% set col_fail    = "FF1F57" %}
    {% set col_neutral = "142430" %}

    {% set col_white = "F5F8FA" %}
    {% set col_bg    = col_neutral %}

    {% set col_pick   = "20A652" %}
    {% set col_veto   = "fbc02d" %}
    {% set col_remove = "f44336" %}

    {% set font_text = "BiryaniDemiBold" %}
    {% set font_bold_big = "TextButtonMedium" %}
    {% set font_bold_small = "TextButtonSmall" %}

    {% set PREF_NONE     = 0 %}
    {% set PREF_PICK     = 1 %}
    {% set PREF_VETO     = 2 %}
    {% set PREF_REMOVE   = 3 %}
    {% set PREF_AUTOPICK = 100 %}

    {% set MENU_INIT   = -1 %}
    {% set MENU_HIDDEN = 0 %}
    {% set MENU_PAGE1  = 1 %}
    {% set MENU_PAGE2  = 2 %}
{% endblock vars %}

<manialink version="3" id="{{ widget_id }}">
    {% block manialink %}{% endblock manialink %}
</manialink>
