{% extends "base_static.j2" %}

{# TODO intro widget: consider displaying 'last_played' #}

{% block manialink %}
{{ super() }}

{% set width   = 90 %}
{% set padding = 8 %}
{% set labelw  = width - padding*2 %}
{% set prefw   = 15 %}

{% set top_height = 5 + 3 + padding %}
{% set height  = 50 %}

<frame id="intro" pos="30 {{height/2.0}}" valign="bottom">
    <quad size="{{width}} {{height}}" pos="0 0" z-index="-2" style="Bgs1" substyle="BgEmpty"/>
    <quad size="{{width}} {{top_height}}" pos="0 0" z-index="-1"
          image="{{cdn}}/gradient_green_vertical.png" opacity="0.8"/>

    <quad size="{{width}} {{height - top_height}}" pos="0 -{{top_height}}" z-index="-1" bgcolor="{{col_bg}}A"/>

    {% set y = padding * -0.5 %}
    <label pos="{{padding/2}} {{y}}" size="{{width - padding}}" textfont="BiryaniDemiBold" textsize="4"
           textcolor="{{col_white}}" text="$s{{ map_name }}"/>

    {% set y = y - 5 %}
    <label pos="{{padding/2}} {{y}}" size="{{width - padding}}" textfont="BiryaniDemiBold" textsize="2"
           textcolor="{{col_white}}" text="$sby {{ map_author_nick_name | default(value=map_author_login) }}"/>

    {% if player_preference == PREF_AUTOPICK %}
        {% set msg = "This map was picked for you." %}
        {% set col = col_pick %}
    {% elif player_preference == PREF_PICK %}
        {% set msg = "You have picked this map." %}
        {% set col = col_pick %}
    {% elif player_preference == PREF_VETO %}
        {% set msg = "You have vetoed this map." %}
        {% set col = col_veto %}
    {% elif player_preference == PREF_REMOVE %}
        {% set msg = "You voted to remove this map." %}
        {% set col = col_remove %}
    {% else %}
        {% set msg = "You have no preference for this map." %}
        {% set col = col_white %}
    {% endif %}

    {% set y = (top_height + padding/2) * -1 %}
    <label pos="{{padding/2}} {{y}}" size="{{padding}} 5" text="•" textsize="2.5" halign="center"
           textcolor="{{col_white}}" textfont="BiryaniDemiBold"/>
    <label pos="{{padding}} {{y}}" size="{{labelw}} 5" text="{{msg}}" textsize="2.5"
           textcolor="{{col}}" textfont="BiryaniDemiBold"/>

    {% set y = y - 5 %}
    <label pos="{{padding}} {{y}}" size="{{prefw}} 5" text="Players"   textsize="2"
           textcolor="{{col_white}}" textfont="BiryaniDemiBold"/>

    <label pos="{{padding}} {{y-3}}" size="{{prefw}} 5" text="$o{{max_map_rank}}" textsize="4"
           textcolor="{{col_white}}" textfont="BiryaniDemiBold"/>

    {% for count in preference_counts %}
        {% set nb = count[1] %}

        {% if count[0] == PREF_PICK %}
            {% set pref = "Pick" %}
            {% set x = prefw %}
            {% set col = col_pick %}
        {% elif count[0] == PREF_VETO %}
            {% set pref = "Veto" %}
            {% set x = prefw*2 %}
            {% set col = col_veto %}
        {% elif count[0] == PREF_REMOVE %}
            {% set pref = "Remove" %}
            {% set x = prefw*3 %}
            {% set col = col_remove %}
        {% endif %}

        <label pos="{{padding+x}} {{y}}" size="{{prefw}} 5" text="{{pref}}" textsize="2"
               textcolor="{{col}}" textfont="BiryaniDemiBold"/>

        <label pos="{{padding+x}} {{y-3}}" size="{{prefw}} 5" text="$o{{nb}}" textsize="4"
               textcolor="{{col}}" textfont="BiryaniDemiBold"/>
    {% endfor %}

    {% set y = y - 3 - 3 - padding %}

    {% if max_map_rank == 0 or player_map_rank | default(value=0) == 0  %}
        {% set msg = "You have no record on this map." %}
    {% else %}
        {% set msg = "Your map rank is  $o" ~ player_map_rank ~ " / " ~ max_map_rank %}
    {% endif %}

    {% set y = y - 1 %}
    <label pos="{{padding/2}} {{y}}" size="{{padding}} 5" text="•" textsize="2.5" halign="center"
           textcolor="{{col_white}}" textfont="BiryaniDemiBold"/>
    <label pos="{{padding}} {{y}}" size="{{labelw}} 5" text="{{msg}}" textsize="2.5"
           textcolor="{{col_white}}" textfont="BiryaniDemiBold"/>
</frame>

{% endblock manialink %}
