{% extends "base_dynamic.j2" %}

{% block manialink %}
{{ super() }}

<frame id="intro" pos="0 0">
    <quad size="80 50" pos="20 10" z-index="-2" style="Bgs1" substyle="BgEmpty" valign="center"/>
    <quad size="80 50" pos="20 10" z-index="-1" bgcolor="{{col_neutral}}5" valign="center"/>

    <label text="TODO intro"
           style="TextButtonSmall" textsize="0.25"  pos="21 -14" valign="bottom" />
</frame>

{% endblock manialink %}
