{% extends "base_dynamic.j2" %}

{#
    TODO outro
    - display the scores of the race
    - display map records, highlight new ones
    - let players vote/change their preference => this part is overlayed by the queue result when the vote is over
    - display a loading indicator for the server ranking => this part is overlayed when the ranking was re-calculated
#}

{% block manialink %}
{{ super() }}

{% endblock manialink %}
