{% extends "base_dynamic.j2" %}

{#
    TODO race_live_ranks
        => update pb with script
        => update current pos, using 'Scores'
        => use 'Players' to get number of players
 #}

{% block manialink %}
{{ super() }}

{% endblock manialink %}
