{% extends "base_static.j2" %}

{# ============================= MANIALINK ============================= #}
{% block manialink %}

<frame id="run_outro" z-index="100">
    <quad pos="160 6.5" valign="bottom" halign="right" size="42 44" bgcolor="000"/>
    <label pos="160 6.5" valign="bottom" halign="right" textcolor="{{col_white}}" z-index="1"
           text="TODO run outro"
           style="TextButtonSmall" textsize="0.25"/>
</frame>

{% endblock manialink %}
